/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#borderPane {
    -fx-background-color: white ;
}

#menu{
	-fx-background-color: lightgray;
}

#hboxHead{
	-fx-background-color: red;
}